{extend name="base/base" /}
{block name="main"}
<form id="form" method="post" class="layui-form layui-form-pane" action="{:url('/admin_sp/project/edit')}">
    <div class="layui-form-item">
        <label class="layui-form-label">项目名称</label>
        <div class="layui-input-block">
            <input type="text" name="name" placeholder="请输入" autocomplete="off" class="layui-input" value="{:isset($list.name)?$list.name:''}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">开始日期</label>
        <div class="layui-input-block">
            <!-- <input type="date" name="start" placeholder="请输入" autocomplete="off" class="layui-input" value="{:isset($list.start)?$list.start:''}"> -->
            <input type="text" class="layui-input" id="start" name="start" lay-verify="required|regDteVerify"
                placeholder="yyyy-MM" readonly="" value="{:isset($list.start)?$list.start:''}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">结束日期</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input" id="end" name="end" lay-verify="required|regDteVerify" placeholder="yyyy-MM"
                readonly="" value="{:isset($list.end)?$list.end:''}">
            <!-- <input type="date" name="end" placeholder="请输入" autocomplete="off" class="layui-input" value="{:isset($list.end)?$list.end:''}"> -->
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">总费用</label>
        <div class="layui-input-block">
            <input type="number" name="total_fee" placeholder="请输入" autocomplete="off" class="layui-input" value="{:isset($list.total_fee)?$list.total_fee:''}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <input type="text" name="description" placeholder="请输入" autocomplete="off" class="layui-input" value="{:isset($list.description)?$list.description:''}">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="hidden" name="id" value="{:isset($list['id'])?$list['id']:''}">
            <input type="hidden" name="__token__" id="token" value="{$Request.token}" />
            <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
            {if condition="!isset($_GET['id'])"}
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            {/if}
        </div>
    </div>
</form>
{/block}
{block name="script"}
{css href="/form-select/formSelects-v4.css" /}
<script>
    layui.config({
        base: '/form-select/' //此处路径请自行处理, 可以使用绝对路径
    }).extend({
        formSelects: 'formSelects-v4'
    });

    layui.use('laydate', function () {
        var laydate = layui.laydate;

        //常规用法
        laydate.render({
            elem: '#start',
            type: 'month',
            min: 0
        });
        laydate.render({
            elem: '#end',
            type: 'month'
        });
    });
    layui.use(['form', 'jquery', 'formSelects'], function () {
        var formSelects = layui.formSelects, form = layui.form, $ = layui.jquery;
        formSelects.on('selectId', function (id, vals, val, isAdd, isDisabled) {
            $('#group_id').val(layui.formSelects.value(id, 'val'));
        }, true);
        //表单验证
        form.verify({
            username: function (value, item) { //value：表单的值、item：表单的DOM对象
                var msg;
                $.ajax({
                    async: false,
                    url: "{:url('/admin/check')}",
                    data: { username: value },
                    success: function (data) {
                        if (data.code) {
                            msg = data.msg;
                        }
                    }
                });
                return msg;
            },
            password: [
                /^[\w\W]{6,25}$/
                , '密码长度必须6到25位'
            ],
            regDteVerify: function (value) {
                //获取失效日期
                var endDate = $("#end").val();
                if (endDate < value) {
                    return '注册日期不得大于失效日期';
                }
            }
        });
        //表单提交
        form.on("submit(*)", function (data) {
            var obj = $(this);
            obj.attr("disabled", "disabled").addClass("layui-disabled");
            $.post(data.form.action, data.field, function (data) {
                var icon = 5;
                if (data.code) {
                    icon = 6;
                }
                layer.msg(data.msg, { icon: icon, time: 1500 }, function () {   //提示的插件，可以使用alert代替
                    if (data.code) {
                        setTimeout(function () {
                            //刷新父页面
                            parent.location.reload();
                        }, 500);
                    } else {
                        $('#token').val(data.data.token);
                        obj.removeAttr("disabled").removeClass("layui-disabled");
                    }
                });
            }, 'json');
            return false;
        });
    });
</script>
{/block}