{extend name="base/base" /}
{block name="main"}
 
    <div class="layui-form-item  ">
    <div class="layui-inline">  
            <a  class="layui-btn" href="{:url('account4402')}">
                <i class="layui-icon">&#xe67c;</i>4402账户查询
            </a>
        </div>
        <div class="layui-inline">  
            <a  class="layui-btn" href="{:url('account4403')}">
                <i class="layui-icon">&#xe67c;</i>4403账户历史余额查询
            </a>
        </div>
        <div class="layui-inline">  
            <a  class="layui-btn" href="{:url('account8924')}">
                <i class="layui-icon">&#xe67c;</i>8924账户明细查询 
            </a>
        </div> 
    </div>
  
{/block}
{block name="script"}
{css href="/form-select/formSelects-v4.css" /} 
{/block}