{extend name="base/base" /}
{block name="main"}
 
    <div class="layui-form-item  ">
    <div class="layui-inline">  
            <a  class="layui-btn" href="{:url('daycash')}">
                <i class="layui-icon">&#xe67c;</i>日提现汇总表
            </a>
        </div>
        <div class="layui-inline">  
            <a  class="layui-btn" href="{:url('bankpay8801')}">
                <i class="layui-icon">&#xe67c;</i>AQ54支付
            </a>
        </div>
        <!-- <div class="layui-inline">  
            <a  class="layui-btn" href="{:url('bankpay8809')}">
                <i class="layui-icon">&#xe67c;</i>8809支付 交易撤销
            </a>
        </div>  -->
    </div>
  
{/block}
{block name="script"}
{css href="/form-select/formSelects-v4.css" /} 
{/block}