{extend name="base/base" /}
{block name="main"}
<fieldset class="layui-elem-field layui-field-title">
    <legend>申报异常名录</legend>
</fieldset>
<form class="layui-form">
    <blockquote class="layui-elem-quote quoteBox">
        <form class="layui-form">
              <div class="layui-inline">
                <a class="layui-btn layui-btn-danger layui-btn-normal adduser_btn"  href="/admin/Customer/socialinsurance">返回</a>
            </div>
            <div class="layui-inline">
                <a class="layui-btn layui-btn-danger layui-btn-normal adduser_btn">导入</a>         </div>
        </form>
    </blockquote>
    <table id="usersList" lay-filter="usersList"></table>
    
</form>
{/block}
{block name="script"}
<script>
    layui.use(['form','layer','laydate','table','laytpl'],function(){
        var form = layui.form,
            layer = parent.layer === undefined ? layui.layer : top.layer,
            $ = layui.jquery,
            laydate = layui.laydate,
            laytpl = layui.laytpl,
            table = layui.table;

        //用户列表
        var tableIns = table.render({
            elem: '#usersList',
            url : '/admin/customer/errorapply',
            cellMinWidth : 95,
            page : true,
            limit:10,
            limits:[5,10,15,20],
            height : "full-125",
            id:'usersListTable',
            cols : [[
                {field: 'numbers', title: '编号', width:60, align:"center"}, 
                {field: 'month', title: '所属年月', width:150},
                {field: 'name', title: '姓名', width:150},
                {field: 'idcode', title: '身份证号', align:'center'},
                {field: 'anomalies', title: '异常现象', align:'center'},
                {field: 'orgnize', title: '委托代理机构', align:'center'}, 
            ]]
        });

           
        $(".adduser_btn").click(function(){
            var index = layui.layer.open({
                title : "导入异常",
                type : 2,
                content : "{:url('/admin/Customer/uploaderrorapply')}",
                success : function(layero, index){
                    var body = layui.layer.getChildFrame('body', index);
                    setTimeout(function(){
                        layui.layer.tips('点击此处返回列表', '.layui-layer-setwin .layui-layer-close', {
                            tips: 3
                        });
                    },500)
                }
            })
            layui.layer.full(index);
            window.sessionStorage.setItem("index",index);
            //改变窗口大小时，重置弹窗的宽高，防止超出可视区域（如F12调出debug的操作）
            $(window).on("resize",function(){
                layui.layer.full(window.sessionStorage.getItem("index"));
            })
        })
        //列表操作
        table.on('tool(usersList)', function(obj){
            var layEvent = obj.event, data = obj.data;
            
        });

    })
</script>
{/block}
