{extend name="base/base" /}
{block name="main"}
<form id="form" method="post" class="layui-form layui-form-pane" action="{:url('/admin_sp/item/importExcel')}" style="text-align:center;">
    <div class="layui-form-item" style="text-align:left;margin:40px auto;width:75%;">
        <p style="font-size: 16px;">操作提示：</p>
        <p>1. 点击“下载任务明细模板”下载该项目对应的明细模板的EXCEL文件</p>
        <p>2. 在Excel文件中填入或修改“预计绩效费”、“分配创客”两栏，并保存</p>
        <p>3. 因为模板中，每条项目明细拆分为两条任务明细记录，若需要更多请复制整行后修改“预计绩效费”、“分配创客”两栏</p>
        <p>4. 点击“导入任务明细列表”将之前下载后修改并保存的Excel文件导入即可</p>
        <p></p>
        <p style="font-size: 16px;color:red;">注意事项：</p>
        <p>1. 若导出的Excel文件内容为空，则表示该项目的所有明细都已完成创客分配，已经生成任务明细，此项目无需再次导入，如需修改请在原来的模板中进行修改，切勿随意填写，否则导入后无法看到内容</p>
        <p>2. 模板仅可修改“预计绩效费”、“分配创客”两栏，其他栏位禁止随意修改或填写，否则导入后无法看到内容</p>
        <p>3. “分配创客”栏中需要填写创客编号，请在后台C端创客列表中的第一栏查看</p>
    </div>
    <div class="layui-form-item" style="margin: 40px auto;">
        <div class="layui-input-block">
            <div class="layui-btn-group">
                <a class="layui-btn layui-btn-warm layui-btn-normal" href="{:url('/admin_sp/item/exportItemExcel')}?pro_id={$pro_id}">
                    <i class="layui-icon">&#xe67c;</i>下载任务明细模板
                </a>
                <button type="button" class="layui-btn" id="upload_zz">
                    <i class="layui-icon">&#xe67c;</i>导入任务明细列表
                </button>
            </div>
        </div>
    </div>
</form>
{/block}
{block name="script"}
{css href="/form-select/formSelects-v4.css" /}
<script>
    layui.config({
        base: '/form-select/' //此处路径请自行处理, 可以使用绝对路径
    }).extend({
        formSelects: 'formSelects-v4'
    });
    layui.use('upload', function () {
        var upload = layui.upload;
        //执行实例
        var uploadInst = upload.render({
            elem: '#upload_zz' //绑定元素
            , url: "{:url('/admin_sp/tasks/importData')}" //上传接口
            , accept: 'file' //普通文件
            // , exts: "xls"
            , size: 10 * 1024 * 1024
            , before: function (obj) { //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
                console.log(obj)
            }
            , done: function (res) {
                //上传完毕回调
                alert(res.errmsg);
                console.log(res);
            }
            , error: function () {
                //请求异常回调
                alert("请求异常");
            }
        });
    });
    layui.use('laydate', function () {
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#reg_date' //指定元素
        });
        laydate.render({
            elem: '#end_date' //指定元素
        });
    });
    layui.use(['form', 'jquery', 'formSelects'], function () {
        var formSelects = layui.formSelects, form = layui.form, $ = layui.jquery;
        formSelects.on('selectId', function (id, vals, val, isAdd, isDisabled) {
            $('#group_id').val(layui.formSelects.value(id, 'val'));
        }, true);
        //表单验证
        form.verify({
            password: [
                /^[\w\W]{6,25}$/
                , '密码长度必须6到25位'
            ]
        });
        //表单提交
        form.on("submit(*)", function (data) {
            var obj = $(this);
            obj.attr("disabled", "disabled").addClass("layui-disabled");
            $.post(data.form.action, data.field, function (data) {
                var icon = 5;
                if (data.code) {
                    icon = 6;
                }
                layer.msg(data.msg, { icon: icon, time: 1500 }, function () {   //提示的插件，可以使用alert代替
                    if (data.code) {
                        setTimeout(function () {
                            //刷新父页面
                            parent.location.reload();
                        }, 500);
                    } else {
                        $('#token').val(data.data.token);
                        obj.removeAttr("disabled").removeClass("layui-disabled");
                    }
                });
            }, 'json');
            return false;
        });

    });



</script>
{/block}