{extend name="base/base" /}
{block name="main"}
<form id="form" method="post" class="layui-form layui-form-pane" action="{:url('/admin_sp/tasks/sendSalary')}">
    <div class="layui-form-item">
        <label class="layui-form-label">项目名称</label>
        <div class="layui-input-block">
            <input type="text" name="pro_name" placeholder="请输入" autocomplete="off" class="layui-input"
                value="{:isset($list.pro_name)?$list.pro_name:''}" readonly>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">任务名称</label>
        <div class="layui-input-block">
                <input type="text" name="name" placeholder="请输入" autocomplete="off" class="layui-input"
                    value="{:isset($list.name)?$list.name:''}" readonly>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">创客姓名</label>
        <div class="layui-input-block">
                <input type="text" name="cus_name" placeholder="请输入" autocomplete="off" class="layui-input"
                    value="{:isset($list.cus_name)?$list.cus_name:''}" readonly>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">预估报酬</label>
        <div class="layui-input-block">
                <input type="text" name="performance_fee" placeholder="请输入" autocomplete="off" class="layui-input"
                    value="{:isset($list.performance_fee)?$list.performance_fee:''}" readonly>
            
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">确认报酬</label>
        <div class="layui-input-block">
            <input type="number" name="real_fee" placeholder="请输入" autocomplete="off" class="layui-input"
                   value="" >
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="hidden" name="id" value="{:isset($list['id'])?$list['id']:''}">
            <input type="hidden" name="__token__" id="token" value="{$Request.token}"/>
            <button class="layui-btn" lay-submit lay-filter="*">确认</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
{/block}
{block name="script"}
{css href="/form-select/formSelects-v4.css" /}
<script>
    layui.config({
        base: '/form-select/' //此处路径请自行处理, 可以使用绝对路径
    }).extend({
        formSelects: 'formSelects-v4'
    });
    layui.use(['form', 'jquery', 'formSelects'], function () {
        var formSelects = layui.formSelects, form = layui.form, $ = layui.jquery;
        formSelects.on('selectId', function (id, vals, val, isAdd, isDisabled) {
            $('#group_id').val(layui.formSelects.value(id, 'val'));
        }, true);
        //表单验证
        form.verify({
            username: function (value, item) { //value：表单的值、item：表单的DOM对象
                var msg;
                $.ajax({
                    async: false,
                    url: "{:url('/admin/check')}",
                    data: {username: value},
                    success: function (data) {
                        if (data.code) {
                            msg = data.msg;
                        }
                    }
                });
                return msg;
            },
            password: [
                /^[\w\W]{6,25}$/
                , '密码长度必须6到25位'
            ]
        });
        //表单提交
        form.on("submit(*)", function (data) {
            var obj = $(this);
            obj.attr("disabled", "disabled").addClass("layui-disabled");
            $.post(data.form.action, data.field, function (data) {
                var icon = 5;
                if (data.code) {
                    icon = 6;
                }
                layer.msg(data.msg, {icon: icon, time: 1500}, function () {   //提示的插件，可以使用alert代替
                    if (data.code) {
                        setTimeout(function () {
                            //刷新父页面
                            parent.location.reload();
                        }, 500);
                    } else {
                        $('#token').val(data.data.token);
                        obj.removeAttr("disabled").removeClass("layui-disabled");
                    }
                });
            }, 'json');
            return false;
        });
    });
</script>
{/block}